//////////
// COLORS
$color-primary: #F9F7F7;
$color-secondary: #DBE2EF;
$color-tertiary: #3F72AF;
$color-markup: #112D4E;
//////////
// FONTS
$font-size-default: 1.6rem;
$font-size-medium: 4.8rem;
$font-size-large: 8.4rem;
