<div class="item-viewer">
  <div class="item-image">
    <img
      style="width: 64px; height: 64px; border: 1px solid gray"
      [alt]="this.selectedImage.alt"
      [src]="this.selectedImage.url"
    />
  </div>
  <div class="item-description">
    <table>
      <tr [hidden]="this.name.length === 0">
        <th [ngStyle]="{ color: this.tier.rgbColor }">{{ this.name }}</th>
      </tr>
      <tr class="item-level" [hidden]="!this.itemLevelEnabled">
        <td>Item Level {{ itemLevel }}</td>
      </tr>
      <tr [hidden]="!this.damageEnabled">
        <td>{{ this.minDamage }} - {{ this.maxDamage }} Damage</td>
      </tr>
      <tr [hidden]="!this.armorEnabled">
        <td>{{ armor }} Armor</td>
      </tr>
      <tr [hidden]="!this.strengthEnabled">
        <td>{{ strength }} Strength</td>
      </tr>
      <tr [hidden]="!this.agilityEnabled">
        <td>{{ agility }} Agility</td>
      </tr>
      <tr [hidden]="!this.staminaEnabled">
        <td>{{ stamina }} Stamina</td>
      </tr>
      <tr [hidden]="!this.intellectEnabled">
        <td>{{ intellect }} Intellect</td>
      </tr>
      <tr [hidden]="!this.requiresLevelEnabled">
        <td>Requires Level {{ requiresLevel }}</td>
      </tr>
      <tr
        [ngStyle]="{ color: 'rgb(30, 255, 0)' }"
        [hidden]="this.description.length === 0"
      >
        <pre>{{ description }}</pre>
      </tr>
      <tr class="lore" [hidden]="!this.loreEnabled">
        <td>
          <i>"{{ lore }}"</i>
        </td>
      </tr>
    </table>
  </div>
</div>
