<ng-template appPlaceholder></ng-template>

<div class="container">
  <div class="item-decorator">
    <div class="item-name">
      <label for="name">Name</label>
      <input type="text" [(ngModel)]="name" name="name" />
      <label for="tier">Tier</label>
      <select (change)="onTierChange($event.target)" name="tier">
        <ng-container *ngFor="let itemTier of tiers">
          <option [ngStyle]="{ color: itemTier.rgbColor }">
            {{ itemTier.name }}
          </option>
        </ng-container>
      </select>
    </div>
    <div>
      <ul>
        <li>
          <span>
            <input
              type="checkbox"
              name="itemLevelOption"
              (click)="changeItemLevelOption()"
              checked
            />
            <label for="itemLevelOption">Item Level</label>
            <input type="text" [(ngModel)]="itemLevel" name="itemLevel" />
          </span>
        </li>
        <li>
          <span>
            <input
              type="checkbox"
              name="damageOption"
              (click)="changeDamageOption()"
              checked
            />
            <label for="damageOption">Damage</label>
            <span>
              <input type="text" [(ngModel)]="minDamage" name="minDamage" />
              <input type="text" [(ngModel)]="maxDamage" name="maxDamage"
            /></span>
          </span>
        </li>
        <li>
          <span>
            <input
              type="checkbox"
              name="armorOption"
              (click)="changeArmorOption()"
              checked />
            <label for="armorOption">Armor</label>
            <input type="text" [(ngModel)]="armor" name="armor"
          /></span>
        </li>
        <li>
          <span>
            <input
              type="checkbox"
              name="strengthOption"
              (click)="changeStrengthOption()"
              checked
            />
            <label for="strengthOption">Strength</label>
            <input type="text" [(ngModel)]="strength" name="strength" />
          </span>
        </li>
        <li>
          <span>
            <input
              type="checkbox"
              name="agilityOption"
              (click)="changeAgilityOption()"
              checked />
            <label for="agilityOption">Agility</label>
            <input type="text" [(ngModel)]="agility" name="agility"
          /></span>
        </li>
        <li>
          <span>
            <input
              type="checkbox"
              name="staminaOption"
              (click)="changeStaminaOption()"
              checked />
            <label for="staminaOption">Stamina</label>
            <input type="text" [(ngModel)]="stamina" name="stamina"
          /></span>
        </li>
        <li>
          <span>
            <input
              type="checkbox"
              name="intellectOption"
              (click)="changeIntellectOption()"
              checked />
            <label for="intellect">Intellect</label>
            <input type="text" [(ngModel)]="intellect" name="intellect"
          /></span>
        </li>
        <li>
          <span>
            <input
              type="checkbox"
              name="requiresLevelOption"
              (click)="changeRequiresLevelOption()"
              checked
            />
            <label for="requiresLevelOption">Requires Level</label>
            <input
              type="text"
              [(ngModel)]="requiresLevel"
              name="requiredLevel"
            />
          </span>
        </li>
        <li>
          <label for="description" style="padding: 0.5rem">Description</label>
          <div class="description">
            <textarea
              name="description"
              cols="30"
              rows="10"
              [(ngModel)]="description"
            ></textarea>
            <div class="choose-image">
              <img
                style="width: 64px; height: 64px"
                (click)="changeImage()"
                alt="choose image"
                [src]="this.selectedImage.url"
              />
            </div>
          </div>
        </li>
        <li>
          <span>
            <input
              type="checkbox"
              name="lore"
              (click)="changeLoreOption()"
              checked
            />
            <label for="requiresLevelOption">Lore</label>
            <input class="lore" type="text" [(ngModel)]="lore" name="lore" />
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="item-view">
    <app-item-view
      [itemLevelEnabled]="this.itemLevelEnabled"
      [damageEnabled]="this.damageEnabled"
      [requiresLevelEnabled]="this.requiresLevelEnabled"
      [loreEnabled]="this.loreEnabled"
      [armorEnabled]="this.armorEnabled"
      [strengthEnabled]="this.strengthEnabled"
      [agilityEnabled]="this.agilityEnabled"
      [staminaEnabled]="this.staminaEnabled"
      [intellectEnabled]="this.intellectEnabled"
      [name]="this.name"
      [tier]="this.tier"
      [itemLevel]="this.itemLevel"
      [minDamage]="this.minDamage"
      [maxDamage]="this.maxDamage"
      [armor]="this.armor"
      [strength]="this.strength"
      [agility]="this.agility"
      [stamina]="this.stamina"
      [intellect]="this.intellect"
      [requiresLevel]="this.requiresLevel"
      [lore]="this.lore"
      [description]="this.description"
      [selectedImage]="this.selectedImage"
    ></app-item-view>
  </div>
</div>
