<app-item-decorator></app-item-decorator>
<div class="icons" [hidden]="isShowIconCreatorsDisabled" (click)="this.isShowIconCreatorsDisabled = !isShowIconCreatorsDisabled">
  Tied scroll icon by Lorc under CC BY 3.0
  Bowie knife iconby Skoll under CC BY 3.0
  Spiked mace iconby Lorc under CC BY 3.0
  Musket iconby Skoll under CC BY 3.0
  Cape iconby Delapouite under CC BY 3.0
  Crossbow iconby Carl Olsen under CC BY 3.0
  Square bottle iconby Lorc under CC BY 3.0
  Present iconby Delapouite under CC BY 3.0
  Outback hat iconby Delapouite under CC BY 3.0
</div>
