<section class="home">
  <div class="hero">
    <h1 class="text-heading-primary">
      Create your own
      <div class="text text--color-tertiary text--newline text--bold">
        item template<span class="text--color-black">.</span>
      </div>
    </h1>
    <a routerLinkActive="router-link-active" class="btn btn--zigzag text--uppercase text--color-white" routerLink="/build">
      <div class="btn__item btn__item--right btn__item--animated btn--color-tertiary">
        now
      </div>
      <div class="btn__item btn__item--left btn__item--animated btn--color-tertiary">
        start
      </div>
    </a>
  </div>
  <div class="ball ball--1"></div>
  <div class="ball ball--2"></div>
  <div class="ball ball--3"></div>
  <div class="ball ball--4"></div>
  <div class="ball ball--5"></div>
  <div class="ball ball--6"></div>
</section>
